{
    "presets": [["@babel/preset-env",{
                "useBuiltIns": "usage",
                "debug":true
    }]],
    "plugins": ["@babel/syntax-dynamic-import",
                "@babel/plugin-transform-runtime",
                "dynamic-import-node"
             ]
}