// Set up doc for easy rem - 1rem = 10px
* 
  font-family: 'Raleway', sans-serif
  margin: 0
  padding: 0


html 
  font-size: 62.5%


body 
  font-size: 1.6rem


// Starter sass template
#startercode
  box-shadow: .1rem .1rem .3rem grey
  display: flex
  flex-direction: column
  margin-top: 5rem
  padding: 5rem
  text-align: center

#html
  align-self: center
  background: orange
  border-radius: 1.5rem
  box-shadow: .1rem .1rem .3rem grey
  margin-bottom: 2rem
  padding: 2rem
  width: 40rem

#bocadillo
  align-self: center
  background: yellow
  border-radius: 1.5rem
  box-shadow: .1rem .1rem .3rem grey
  margin-bottom: 2rem
  padding: 2rem
  width: 40rem

#vue
  align-self: center
  background: green
  border-radius: 1.5rem
  box-shadow: .1rem .1rem .3rem grey
  margin-bottom: 2rem
  padding: 2rem
  width: 40rem

#blue
  color: black
  font-size: 3rem