<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello World</title>
</head>

<!-- Stop flashes of unstyled content -->
<body style="visibility: hidden;" onload="js_Load()">

    <div id="startercode">

        <div id="heading">
            <img id="zombie" src="../static/img/zombie.png">
            <p id="title">Zombie</p>
            <p id="tagline">
                A starter web app template with most of the 'mundane' features pre-implemented
            </p>
            
        </div>
    <div>
        <ul id="taglist">
            <li class="zombielist">Docker Enviroment</li>
            <li class="zombielist">Vue Front End</li>
            <li class="zombielist">Bocadillo Back End</li>
            <li class="zombielist">Postgres db</li>
            <li class="zombielist">Nginx proxy server</li>
            <li class="zombielist">Webpack</li>
        </ul>  
    </div>
    
        <div id="testblocks">
            <p id="html">Hello World From HTML</p>
            <p id="bocadillo">{{variable}}</p>
            <p id="vue">[[message]]</p>
            <p id="database">Animals in the db: {{dbquery}}</p>
        </div>

        <p id="dbheading" >Add an animal to the db</p>
        <div id="dbform">
            <form method="POST">
                <input id="dbage" name="age" type="text" placeholder="animal age">
                <input id="dbname" name="name" type="text" placeholder="animal name">
                <input id="dbsubmit" type="submit" value="submit">
            </form>
        </div>
        
        
    </div>

<!-- Stop flashes of unstyled content -->
<script>let js_Load=()=>document.body.style.visibility='visible';</script>
<!-- If user has no javascript set body to visible -->
<noscript><style>body { visibility: visible; }</style></noscript>
</body>


</html>